body {
font-family: sans-serif;
}
nav ul li {
display: inline;
list-style-type: none;
}
nav ul li a {
text-decoration: none;
color: black;
}
img {
float: left;
}
nav ul li a:hover {
background-color: aqua;
}
nav li.selected {
background-color: red;
}
header {
font-size: 35px;
background-color: #ffb6c1;
}
a.hl1 {
  text-decoration: none;
  color:black;
}
a.hl1:hover {
  text-decoration:underline;
}
a.hl2 {
  color:black;
  text-decoration:underline;
}
a.hl2:hover {
  text-decoration:none;
}
